@media (min-width: 992px)
{ 
  :root {
    --primary-color: #ffffff;
    --font: arial;
    --main-color: #624895;
    --background-color: #111;
    --font-color: #000000;
    --block-color: #dedede;

}
  
  * {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }

  #content {
    background: var(--primary-color);
    font-family: var(--font);
    font-size: medium;
    display: flex;
    justify-content: center;
  }
  
  body {
    
  }
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    padding: 5px 20px 20px 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 700px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--main-color);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0px;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    background: var(--block-color);
    color: var(--font-color);
    border-radius: 10px;
    padding: 20px;
  }
  .info h2,h3,h4 {
    color: var(--main-color);
  }

 /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info  h3 {
    position: absolute;
    left: -125px;
    top: 45px;
  }

  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info  h3 {
    position: absolute;
    right: -125px;
    top: 45px;
  }



  .info img {
    box-shadow: 0 0 0 3px var(--main-color), 0 0 7px #333; /* Параметры теней */
    padding: 2px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    /* border: 5px solid var(--main-color); */
    border-radius: 999999px;
  }

  .info p {
    
    padding: 5px;
    /* text-indent: 15px;  */
    /* text-align: justify; */

  }
  .info li {
    
    text-align: justify;
  }


  /* Title of the card */
  .title-info {
    color: var(--main-color);
    position: relative;
    margin: 0 30px;
  }
  .content-info {}
  
  /* Timeline dot  */
  .title-info::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--main-color);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title-info {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title-info::before {
    left: -85px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title-info::before {
    right: -85px;
  }



  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

  .wrapper{
    width: 800px;
    margin: 0 auto;
  }

  header {
    height: 100px;
    background: var(--block-color);
    border-bottom: solid 2px var(--main-color);
  }

  h1 {
    color: var(--main-color);
  }
}
